set_io rgb[0]  78
set_io rgb[1]  79
set_io rgb[2]  80
set_io rgb[3]  81
set_io rgb[4]  87
set_io rgb[5]  88
set_io hsync 90
set_io vsync 91

set_io D1 99
set_io D2 98
set_io D3 97
set_io D4 96
set_io D5 95

set_io pclk 21
set_io clr 119
